/*
 * Nodeum API Reference
 * The Nodeum API makes it easy to tap into the digital data mesh that runs across your organisation. Make requests to our API endpoints and we’ll give you everything you need to interconnect your business workflows with your storage.  All production API requests are made to:  http://nodeumhostname/api/  The current production version of the API is v1.   **REST** The Nodeum API is a RESTful API. This means that the API is designed to allow you to get, create, update, & delete objects with the HTTP verbs GET, POST, PUT, PATCH, & DELETE.  **JSON** The Nodeum API speaks exclusively in JSON. This means that you should always set the Content-Type header to application/json to ensure that your requests are properly accepted and processed by the API.  **Authentication** All API calls require user-password authentication.   **Cross-Origin Resource Sharing** The Nodeum API supports CORS for communicating from Javascript for these endpoints. You will need to specify an Origin URI when creating your application to allow for CORS to be whitelisted for your domain.   **Pagination** Some endpoints such as File Listing return a potentially lengthy array of objects. In order to keep the response sizes manageable the API will take advantage of pagination. Pagination is a mechanism for returning a subset of the results for a request and allowing for subsequent requests to “page” through the rest of the results until the end is reached. Paginated endpoints follow a standard interface that accepts two query parameters, limit and offset, and return a payload that follows a standard form. These parameters names and their behavior are borrowed from SQL LIMIT and OFFSET keywords.  **Versioning** The Nodeum API is constantly being worked on to add features, make improvements, and fix bugs. This means that you should expect changes to be introduced and documented.   However, there are some changes or additions that are considered backwards-compatible and your applications should be flexible enough to handle them. These include:  - Adding new endpoints to the API - Adding new attributes to the response of an existing endpoint - Changing the order of attributes of responses (JSON by definition is an object of unordered key/value pairs)   **Filter parameters** When browsing a list of items, multiple filter parameters may be applied. Some operators can be added to the value as a prefix:  - `=` value is equal. Default operator, may be omitted  - `!=` value is different  - `>` greater than  - `>=` greater than or equal  - `<` lower than  - `>=` lower than or equal  - `><` included in list, items should be separated by `|`  - `!><` not included in list, items should be separated by `|`  - `~` pattern matching, may include `%` (any characters) and `_` (one character)  - `!~` pattern not matching, may include `%` (any characters) and `_` (one character)
 *
 * The version of the OpenAPI document: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.nodeum.client.api;

import io.nodeum.client.ApiCallback;
import io.nodeum.client.ApiClient;
import io.nodeum.client.ApiException;
import io.nodeum.client.ApiResponse;
import io.nodeum.client.Configuration;
import io.nodeum.client.Pair;
import io.nodeum.client.ProgressRequestBody;
import io.nodeum.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.nodeum.client.model.Error;
import io.nodeum.client.model.TaskMetadatum;
import io.nodeum.client.model.TaskMetadatumCollection;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TaskMetadataApi {
    private ApiClient localVarApiClient;

    public TaskMetadataApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TaskMetadataApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createTaskMetadatum
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumBody  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTaskMetadatumCall(String taskId, TaskMetadatum taskMetadatumBody, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = taskMetadatumBody;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_metadata"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createTaskMetadatumValidateBeforeCall(String taskId, TaskMetadatum taskMetadatumBody, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling createTaskMetadatum(Async)");
        }
        
        // verify the required parameter 'taskMetadatumBody' is set
        if (taskMetadatumBody == null) {
            throw new ApiException("Missing the required parameter 'taskMetadatumBody' when calling createTaskMetadatum(Async)");
        }
        

        okhttp3.Call localVarCall = createTaskMetadatumCall(taskId, taskMetadatumBody, _callback);
        return localVarCall;

    }

    /**
     * Creates a new task metadatum.
     * **API Key Scope**: task_metadata / create
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumBody  (required)
     * @return TaskMetadatum
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public TaskMetadatum createTaskMetadatum(String taskId, TaskMetadatum taskMetadatumBody) throws ApiException {
        ApiResponse<TaskMetadatum> localVarResp = createTaskMetadatumWithHttpInfo(taskId, taskMetadatumBody);
        return localVarResp.getData();
    }

    /**
     * Creates a new task metadatum.
     * **API Key Scope**: task_metadata / create
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumBody  (required)
     * @return ApiResponse&lt;TaskMetadatum&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TaskMetadatum> createTaskMetadatumWithHttpInfo(String taskId, TaskMetadatum taskMetadatumBody) throws ApiException {
        okhttp3.Call localVarCall = createTaskMetadatumValidateBeforeCall(taskId, taskMetadatumBody, null);
        Type localVarReturnType = new TypeToken<TaskMetadatum>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Creates a new task metadatum. (asynchronously)
     * **API Key Scope**: task_metadata / create
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumBody  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTaskMetadatumAsync(String taskId, TaskMetadatum taskMetadatumBody, final ApiCallback<TaskMetadatum> _callback) throws ApiException {

        okhttp3.Call localVarCall = createTaskMetadatumValidateBeforeCall(taskId, taskMetadatumBody, _callback);
        Type localVarReturnType = new TypeToken<TaskMetadatum>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for destroyTaskMetadatum
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Task metadatum destroyed. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call destroyTaskMetadatumCall(String taskId, Integer taskMetadatumId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_metadata/{task_metadatum_id}"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_metadatum_id" + "\\}", localVarApiClient.escapeString(taskMetadatumId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call destroyTaskMetadatumValidateBeforeCall(String taskId, Integer taskMetadatumId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling destroyTaskMetadatum(Async)");
        }
        
        // verify the required parameter 'taskMetadatumId' is set
        if (taskMetadatumId == null) {
            throw new ApiException("Missing the required parameter 'taskMetadatumId' when calling destroyTaskMetadatum(Async)");
        }
        

        okhttp3.Call localVarCall = destroyTaskMetadatumCall(taskId, taskMetadatumId, _callback);
        return localVarCall;

    }

    /**
     * Destroys a specific task metadatum.
     * **API Key Scope**: task_metadata / destroy
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Task metadatum destroyed. </td><td>  -  </td></tr>
     </table>
     */
    public void destroyTaskMetadatum(String taskId, Integer taskMetadatumId) throws ApiException {
        destroyTaskMetadatumWithHttpInfo(taskId, taskMetadatumId);
    }

    /**
     * Destroys a specific task metadatum.
     * **API Key Scope**: task_metadata / destroy
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Task metadatum destroyed. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> destroyTaskMetadatumWithHttpInfo(String taskId, Integer taskMetadatumId) throws ApiException {
        okhttp3.Call localVarCall = destroyTaskMetadatumValidateBeforeCall(taskId, taskMetadatumId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Destroys a specific task metadatum. (asynchronously)
     * **API Key Scope**: task_metadata / destroy
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Task metadatum destroyed. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call destroyTaskMetadatumAsync(String taskId, Integer taskMetadatumId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = destroyTaskMetadatumValidateBeforeCall(taskId, taskMetadatumId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for indexTaskMetadata
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param key Filter on key (optional)
     * @param value Filter on value (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of task metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call indexTaskMetadataCall(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String key, String value, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_metadata"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (sortBy != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("pipe", "sort_by", sortBy));
        }

        if (id != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("id", id));
        }

        if (key != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("key", key));
        }

        if (value != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("value", value));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call indexTaskMetadataValidateBeforeCall(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String key, String value, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling indexTaskMetadata(Async)");
        }
        

        okhttp3.Call localVarCall = indexTaskMetadataCall(taskId, limit, offset, sortBy, id, key, value, _callback);
        return localVarCall;

    }

    /**
     * Lists all task metadata.
     * **API Key Scope**: task_metadata / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param key Filter on key (optional)
     * @param value Filter on value (optional)
     * @return TaskMetadatumCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of task metadata. </td><td>  -  </td></tr>
     </table>
     */
    public TaskMetadatumCollection indexTaskMetadata(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String key, String value) throws ApiException {
        ApiResponse<TaskMetadatumCollection> localVarResp = indexTaskMetadataWithHttpInfo(taskId, limit, offset, sortBy, id, key, value);
        return localVarResp.getData();
    }

    /**
     * Lists all task metadata.
     * **API Key Scope**: task_metadata / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param key Filter on key (optional)
     * @param value Filter on value (optional)
     * @return ApiResponse&lt;TaskMetadatumCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of task metadata. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TaskMetadatumCollection> indexTaskMetadataWithHttpInfo(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String key, String value) throws ApiException {
        okhttp3.Call localVarCall = indexTaskMetadataValidateBeforeCall(taskId, limit, offset, sortBy, id, key, value, null);
        Type localVarReturnType = new TypeToken<TaskMetadatumCollection>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Lists all task metadata. (asynchronously)
     * **API Key Scope**: task_metadata / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param key Filter on key (optional)
     * @param value Filter on value (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of task metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call indexTaskMetadataAsync(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String key, String value, final ApiCallback<TaskMetadatumCollection> _callback) throws ApiException {

        okhttp3.Call localVarCall = indexTaskMetadataValidateBeforeCall(taskId, limit, offset, sortBy, id, key, value, _callback);
        Type localVarReturnType = new TypeToken<TaskMetadatumCollection>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for showTaskMetadat
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call showTaskMetadatCall(String taskId, Integer taskMetadatumId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_metadata/{task_metadatum_id}"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_metadatum_id" + "\\}", localVarApiClient.escapeString(taskMetadatumId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call showTaskMetadatValidateBeforeCall(String taskId, Integer taskMetadatumId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling showTaskMetadat(Async)");
        }
        
        // verify the required parameter 'taskMetadatumId' is set
        if (taskMetadatumId == null) {
            throw new ApiException("Missing the required parameter 'taskMetadatumId' when calling showTaskMetadat(Async)");
        }
        

        okhttp3.Call localVarCall = showTaskMetadatCall(taskId, taskMetadatumId, _callback);
        return localVarCall;

    }

    /**
     * Displays a specific task metadatum.
     * **API Key Scope**: task_metadata / show
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @return TaskMetadatum
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
     </table>
     */
    public TaskMetadatum showTaskMetadat(String taskId, Integer taskMetadatumId) throws ApiException {
        ApiResponse<TaskMetadatum> localVarResp = showTaskMetadatWithHttpInfo(taskId, taskMetadatumId);
        return localVarResp.getData();
    }

    /**
     * Displays a specific task metadatum.
     * **API Key Scope**: task_metadata / show
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @return ApiResponse&lt;TaskMetadatum&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TaskMetadatum> showTaskMetadatWithHttpInfo(String taskId, Integer taskMetadatumId) throws ApiException {
        okhttp3.Call localVarCall = showTaskMetadatValidateBeforeCall(taskId, taskMetadatumId, null);
        Type localVarReturnType = new TypeToken<TaskMetadatum>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Displays a specific task metadatum. (asynchronously)
     * **API Key Scope**: task_metadata / show
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call showTaskMetadatAsync(String taskId, Integer taskMetadatumId, final ApiCallback<TaskMetadatum> _callback) throws ApiException {

        okhttp3.Call localVarCall = showTaskMetadatValidateBeforeCall(taskId, taskMetadatumId, _callback);
        Type localVarReturnType = new TypeToken<TaskMetadatum>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for updateTaskMetadatum
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @param taskMetadatumBody  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateTaskMetadatumCall(String taskId, Integer taskMetadatumId, TaskMetadatum taskMetadatumBody, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = taskMetadatumBody;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_metadata/{task_metadatum_id}"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_metadatum_id" + "\\}", localVarApiClient.escapeString(taskMetadatumId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateTaskMetadatumValidateBeforeCall(String taskId, Integer taskMetadatumId, TaskMetadatum taskMetadatumBody, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling updateTaskMetadatum(Async)");
        }
        
        // verify the required parameter 'taskMetadatumId' is set
        if (taskMetadatumId == null) {
            throw new ApiException("Missing the required parameter 'taskMetadatumId' when calling updateTaskMetadatum(Async)");
        }
        
        // verify the required parameter 'taskMetadatumBody' is set
        if (taskMetadatumBody == null) {
            throw new ApiException("Missing the required parameter 'taskMetadatumBody' when calling updateTaskMetadatum(Async)");
        }
        

        okhttp3.Call localVarCall = updateTaskMetadatumCall(taskId, taskMetadatumId, taskMetadatumBody, _callback);
        return localVarCall;

    }

    /**
     * Updates a specific task metadatum.
     * **API Key Scope**: task_metadata / update
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @param taskMetadatumBody  (required)
     * @return TaskMetadatum
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public TaskMetadatum updateTaskMetadatum(String taskId, Integer taskMetadatumId, TaskMetadatum taskMetadatumBody) throws ApiException {
        ApiResponse<TaskMetadatum> localVarResp = updateTaskMetadatumWithHttpInfo(taskId, taskMetadatumId, taskMetadatumBody);
        return localVarResp.getData();
    }

    /**
     * Updates a specific task metadatum.
     * **API Key Scope**: task_metadata / update
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @param taskMetadatumBody  (required)
     * @return ApiResponse&lt;TaskMetadatum&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TaskMetadatum> updateTaskMetadatumWithHttpInfo(String taskId, Integer taskMetadatumId, TaskMetadatum taskMetadatumBody) throws ApiException {
        okhttp3.Call localVarCall = updateTaskMetadatumValidateBeforeCall(taskId, taskMetadatumId, taskMetadatumBody, null);
        Type localVarReturnType = new TypeToken<TaskMetadatum>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Updates a specific task metadatum. (asynchronously)
     * **API Key Scope**: task_metadata / update
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskMetadatumId Numeric ID of task metadatum. (required)
     * @param taskMetadatumBody  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task metadatum. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateTaskMetadatumAsync(String taskId, Integer taskMetadatumId, TaskMetadatum taskMetadatumBody, final ApiCallback<TaskMetadatum> _callback) throws ApiException {

        okhttp3.Call localVarCall = updateTaskMetadatumValidateBeforeCall(taskId, taskMetadatumId, taskMetadatumBody, _callback);
        Type localVarReturnType = new TypeToken<TaskMetadatum>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
