/*
 * Nodeum API
 * The Nodeum API makes it easy to tap into the digital data mesh that runs across your organisation. Make requests to our API endpoints and we’ll give you everything you need to interconnect your business workflows with your storage.  All production API requests are made to:  http://nodeumhostname/api/  The current production version of the API is v1.   **REST** The Nodeum API is a RESTful API. This means that the API is designed to allow you to get, create, update, & delete objects with the HTTP verbs GET, POST, PUT, PATCH, & DELETE.  **JSON** The Nodeum API speaks exclusively in JSON. This means that you should always set the Content-Type header to application/json to ensure that your requests are properly accepted and processed by the API.  **Authentication** All API calls require user-password authentication.   **Cross-Origin Resource Sharing** The Nodeum API supports CORS for communicating from Javascript for these endpoints. You will need to specify an Origin URI when creating your application to allow for CORS to be whitelisted for your domain.   **Pagination** Some endpoints such as File Listing return a potentially lengthy array of objects. In order to keep the response sizes manageable the API will take advantage of pagination. Pagination is a mechanism for returning a subset of the results for a request and allowing for subsequent requests to “page” through the rest of the results until the end is reached. Paginated endpoints follow a standard interface that accepts two query parameters, limit and offset, and return a payload that follows a standard form. These parameters names and their behavior are borrowed from SQL LIMIT and OFFSET keywords.  **Versioning** The Nodeum API is constantly being worked on to add features, make improvements, and fix bugs. This means that you should expect changes to be introduced and documented.   However, there are some changes or additions that are considered backwards-compatible and your applications should be flexible enough to handle them. These include:  - Adding new endpoints to the API - Adding new attributes to the response of an existing endpoint - Changing the order of attributes of responses (JSON by definition is an object of unordered key/value pairs)  **Filter parameters** When browsing a list of items, multiple filter parameters may be applied. Some operators can be added to the value as a prefix:  - `=` value is equal. Default operator, may be omitted  - `!=` value is different  - `>` greater than  - `>=` greater than or equal  - `<` lower than  - `>=` lower than or equal  - `><` included in list, items should be separated by `|`  - `!><` not included in list, items should be separated by `|`  - `~` pattern matching, may include `%` (any characters) and `_` (one character)  - `!~` pattern not matching, may include `%` (any characters) and `_` (one character)  
 *
 * The version of the OpenAPI document: 2.1.0
 * Contact: info@nodeum.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package io.nodeum.sdk.client.api;

import io.nodeum.sdk.client.ApiCallback;
import io.nodeum.sdk.client.ApiClient;
import io.nodeum.sdk.client.ApiException;
import io.nodeum.sdk.client.ApiResponse;
import io.nodeum.sdk.client.Configuration;
import io.nodeum.sdk.client.Pair;
import io.nodeum.sdk.client.ProgressRequestBody;
import io.nodeum.sdk.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.nodeum.sdk.client.model.Error;
import io.nodeum.sdk.client.model.TaskCallback;
import io.nodeum.sdk.client.model.TaskCallbackCollection;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TaskCallbacksApi {
    private ApiClient localVarApiClient;

    public TaskCallbacksApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TaskCallbacksApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createTaskCallback
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackBody  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A specific task callback. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTaskCallbackCall(String taskId, TaskCallback taskCallbackBody, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = taskCallbackBody;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_callbacks"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createTaskCallbackValidateBeforeCall(String taskId, TaskCallback taskCallbackBody, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling createTaskCallback(Async)");
        }
        
        // verify the required parameter 'taskCallbackBody' is set
        if (taskCallbackBody == null) {
            throw new ApiException("Missing the required parameter 'taskCallbackBody' when calling createTaskCallback(Async)");
        }
        

        okhttp3.Call localVarCall = createTaskCallbackCall(taskId, taskCallbackBody, _callback);
        return localVarCall;

    }

    /**
     * Creates a new task callback.
     * **API Key Scope**: task_callbacks / create
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackBody  (required)
     * @return TaskCallback
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A specific task callback. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public TaskCallback createTaskCallback(String taskId, TaskCallback taskCallbackBody) throws ApiException {
        ApiResponse<TaskCallback> localVarResp = createTaskCallbackWithHttpInfo(taskId, taskCallbackBody);
        return localVarResp.getData();
    }

    /**
     * Creates a new task callback.
     * **API Key Scope**: task_callbacks / create
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackBody  (required)
     * @return ApiResponse&lt;TaskCallback&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A specific task callback. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TaskCallback> createTaskCallbackWithHttpInfo(String taskId, TaskCallback taskCallbackBody) throws ApiException {
        okhttp3.Call localVarCall = createTaskCallbackValidateBeforeCall(taskId, taskCallbackBody, null);
        Type localVarReturnType = new TypeToken<TaskCallback>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Creates a new task callback. (asynchronously)
     * **API Key Scope**: task_callbacks / create
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackBody  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> A specific task callback. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createTaskCallbackAsync(String taskId, TaskCallback taskCallbackBody, final ApiCallback<TaskCallback> _callback) throws ApiException {

        okhttp3.Call localVarCall = createTaskCallbackValidateBeforeCall(taskId, taskCallbackBody, _callback);
        Type localVarReturnType = new TypeToken<TaskCallback>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for destroyTaskCallback
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Task callback destroyed. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call destroyTaskCallbackCall(String taskId, Integer taskCallbackId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_callbacks/{task_callback_id}"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_callback_id" + "\\}", localVarApiClient.escapeString(taskCallbackId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call destroyTaskCallbackValidateBeforeCall(String taskId, Integer taskCallbackId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling destroyTaskCallback(Async)");
        }
        
        // verify the required parameter 'taskCallbackId' is set
        if (taskCallbackId == null) {
            throw new ApiException("Missing the required parameter 'taskCallbackId' when calling destroyTaskCallback(Async)");
        }
        

        okhttp3.Call localVarCall = destroyTaskCallbackCall(taskId, taskCallbackId, _callback);
        return localVarCall;

    }

    /**
     * Destroys a specific task callback.
     * **API Key Scope**: task_callbacks / destroy
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Task callback destroyed. </td><td>  -  </td></tr>
     </table>
     */
    public void destroyTaskCallback(String taskId, Integer taskCallbackId) throws ApiException {
        destroyTaskCallbackWithHttpInfo(taskId, taskCallbackId);
    }

    /**
     * Destroys a specific task callback.
     * **API Key Scope**: task_callbacks / destroy
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Task callback destroyed. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> destroyTaskCallbackWithHttpInfo(String taskId, Integer taskCallbackId) throws ApiException {
        okhttp3.Call localVarCall = destroyTaskCallbackValidateBeforeCall(taskId, taskCallbackId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Destroys a specific task callback. (asynchronously)
     * **API Key Scope**: task_callbacks / destroy
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> Task callback destroyed. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call destroyTaskCallbackAsync(String taskId, Integer taskCallbackId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = destroyTaskCallbackValidateBeforeCall(taskId, taskCallbackId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for indexTaskCallbacks
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param type Filter on type (optional)
     * @param script Filter on task callback script (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of task callbacks. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call indexTaskCallbacksCall(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String type, String script, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_callbacks"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (sortBy != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("pipe", "sort_by", sortBy));
        }

        if (id != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("id", id));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (script != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("script", script));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call indexTaskCallbacksValidateBeforeCall(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String type, String script, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling indexTaskCallbacks(Async)");
        }
        

        okhttp3.Call localVarCall = indexTaskCallbacksCall(taskId, limit, offset, sortBy, id, type, script, _callback);
        return localVarCall;

    }

    /**
     * Lists all task callbacks.
     * **API Key Scope**: task_callbacks / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param type Filter on type (optional)
     * @param script Filter on task callback script (optional)
     * @return TaskCallbackCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of task callbacks. </td><td>  -  </td></tr>
     </table>
     */
    public TaskCallbackCollection indexTaskCallbacks(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String type, String script) throws ApiException {
        ApiResponse<TaskCallbackCollection> localVarResp = indexTaskCallbacksWithHttpInfo(taskId, limit, offset, sortBy, id, type, script);
        return localVarResp.getData();
    }

    /**
     * Lists all task callbacks.
     * **API Key Scope**: task_callbacks / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param type Filter on type (optional)
     * @param script Filter on task callback script (optional)
     * @return ApiResponse&lt;TaskCallbackCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of task callbacks. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TaskCallbackCollection> indexTaskCallbacksWithHttpInfo(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String type, String script) throws ApiException {
        okhttp3.Call localVarCall = indexTaskCallbacksValidateBeforeCall(taskId, limit, offset, sortBy, id, type, script, null);
        Type localVarReturnType = new TypeToken<TaskCallbackCollection>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Lists all task callbacks. (asynchronously)
     * **API Key Scope**: task_callbacks / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param type Filter on type (optional)
     * @param script Filter on task callback script (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List of task callbacks. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call indexTaskCallbacksAsync(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String type, String script, final ApiCallback<TaskCallbackCollection> _callback) throws ApiException {

        okhttp3.Call localVarCall = indexTaskCallbacksValidateBeforeCall(taskId, limit, offset, sortBy, id, type, script, _callback);
        Type localVarReturnType = new TypeToken<TaskCallbackCollection>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for showTaskCallback
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task callback. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call showTaskCallbackCall(String taskId, Integer taskCallbackId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_callbacks/{task_callback_id}"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_callback_id" + "\\}", localVarApiClient.escapeString(taskCallbackId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call showTaskCallbackValidateBeforeCall(String taskId, Integer taskCallbackId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling showTaskCallback(Async)");
        }
        
        // verify the required parameter 'taskCallbackId' is set
        if (taskCallbackId == null) {
            throw new ApiException("Missing the required parameter 'taskCallbackId' when calling showTaskCallback(Async)");
        }
        

        okhttp3.Call localVarCall = showTaskCallbackCall(taskId, taskCallbackId, _callback);
        return localVarCall;

    }

    /**
     * Displays a specific task callback.
     * **API Key Scope**: task_callbacks / show
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @return TaskCallback
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task callback. </td><td>  -  </td></tr>
     </table>
     */
    public TaskCallback showTaskCallback(String taskId, Integer taskCallbackId) throws ApiException {
        ApiResponse<TaskCallback> localVarResp = showTaskCallbackWithHttpInfo(taskId, taskCallbackId);
        return localVarResp.getData();
    }

    /**
     * Displays a specific task callback.
     * **API Key Scope**: task_callbacks / show
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @return ApiResponse&lt;TaskCallback&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task callback. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TaskCallback> showTaskCallbackWithHttpInfo(String taskId, Integer taskCallbackId) throws ApiException {
        okhttp3.Call localVarCall = showTaskCallbackValidateBeforeCall(taskId, taskCallbackId, null);
        Type localVarReturnType = new TypeToken<TaskCallback>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Displays a specific task callback. (asynchronously)
     * **API Key Scope**: task_callbacks / show
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task callback. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call showTaskCallbackAsync(String taskId, Integer taskCallbackId, final ApiCallback<TaskCallback> _callback) throws ApiException {

        okhttp3.Call localVarCall = showTaskCallbackValidateBeforeCall(taskId, taskCallbackId, _callback);
        Type localVarReturnType = new TypeToken<TaskCallback>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for updateTaskCallback
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @param taskCallbackBody  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task callback. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateTaskCallbackCall(String taskId, Integer taskCallbackId, TaskCallback taskCallbackBody, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = taskCallbackBody;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_callbacks/{task_callback_id}"
            .replaceAll("\\{" + "task_id" + "\\}", localVarApiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_callback_id" + "\\}", localVarApiClient.escapeString(taskCallbackId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateTaskCallbackValidateBeforeCall(String taskId, Integer taskCallbackId, TaskCallback taskCallbackBody, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling updateTaskCallback(Async)");
        }
        
        // verify the required parameter 'taskCallbackId' is set
        if (taskCallbackId == null) {
            throw new ApiException("Missing the required parameter 'taskCallbackId' when calling updateTaskCallback(Async)");
        }
        
        // verify the required parameter 'taskCallbackBody' is set
        if (taskCallbackBody == null) {
            throw new ApiException("Missing the required parameter 'taskCallbackBody' when calling updateTaskCallback(Async)");
        }
        

        okhttp3.Call localVarCall = updateTaskCallbackCall(taskId, taskCallbackId, taskCallbackBody, _callback);
        return localVarCall;

    }

    /**
     * Updates a specific task callback.
     * **API Key Scope**: task_callbacks / update
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @param taskCallbackBody  (required)
     * @return TaskCallback
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task callback. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public TaskCallback updateTaskCallback(String taskId, Integer taskCallbackId, TaskCallback taskCallbackBody) throws ApiException {
        ApiResponse<TaskCallback> localVarResp = updateTaskCallbackWithHttpInfo(taskId, taskCallbackId, taskCallbackBody);
        return localVarResp.getData();
    }

    /**
     * Updates a specific task callback.
     * **API Key Scope**: task_callbacks / update
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @param taskCallbackBody  (required)
     * @return ApiResponse&lt;TaskCallback&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task callback. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TaskCallback> updateTaskCallbackWithHttpInfo(String taskId, Integer taskCallbackId, TaskCallback taskCallbackBody) throws ApiException {
        okhttp3.Call localVarCall = updateTaskCallbackValidateBeforeCall(taskId, taskCallbackId, taskCallbackBody, null);
        Type localVarReturnType = new TypeToken<TaskCallback>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Updates a specific task callback. (asynchronously)
     * **API Key Scope**: task_callbacks / update
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskCallbackId Numeric ID of task callback. (required)
     * @param taskCallbackBody  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A specific task callback. </td><td>  -  </td></tr>
        <tr><td> 422 </td><td> The received resource was not correctly formatted. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateTaskCallbackAsync(String taskId, Integer taskCallbackId, TaskCallback taskCallbackBody, final ApiCallback<TaskCallback> _callback) throws ApiException {

        okhttp3.Call localVarCall = updateTaskCallbackValidateBeforeCall(taskId, taskCallbackId, taskCallbackBody, _callback);
        Type localVarReturnType = new TypeToken<TaskCallback>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
