/*
 * Nodeum API
 * Nodeum API  # Filter parameters When browsing a list of items, multiple filter parameters may be applied. Some operators can be added to the value as a prefix:  - `=` value is equal. Default operator, may be omitted  - `!=` value is different  - `>` greater than  - `>=` greater than or equal  - `<` lower than  - `>=` lower than or equal  - `><` included in list, items should be separated by `|`  - `!><` not included in list, items should be separated by `|`  - `~` pattern matching, may include `%` (any characters) and `_` (one character)  - `!~` pattern not matching, may include `%` (any characters) and `_` (one character)  
 *
 * OpenAPI spec version: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.NodeumFileCollection;
import io.swagger.client.model.NodeumFileWithPath;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class FilesApi {
    private ApiClient apiClient;

    public FilesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public FilesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for filesChildren
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call filesChildrenCall(Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/files/{file_parent_id}/children"
            .replaceAll("\\{" + "file_parent_id" + "\\}", apiClient.escapeString(fileParentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (fileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("file_id", fileId));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (changeDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("change_date", changeDate));
        if (modificationDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modification_date", modificationDate));
        if (accessDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_date", accessDate));
        if (gid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("gid", gid));
        if (uid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("uid", uid));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call filesChildrenValidateBeforeCall(Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'fileParentId' is set
        if (fileParentId == null) {
            throw new ApiException("Missing the required parameter 'fileParentId' when calling filesChildren(Async)");
        }
        

        com.squareup.okhttp.Call call = filesChildrenCall(fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return NodeumFileCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeumFileCollection filesChildren(Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        ApiResponse<NodeumFileCollection> resp = filesChildrenWithHttpInfo(fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid);
        return resp.getData();
    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return ApiResponse&lt;NodeumFileCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeumFileCollection> filesChildrenWithHttpInfo(Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        com.squareup.okhttp.Call call = filesChildrenValidateBeforeCall(fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, null, null);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists files under a specific folder. (asynchronously)
     * **API Key Scope**: files / index
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call filesChildrenAsync(Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ApiCallback<NodeumFileCollection> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = filesChildrenValidateBeforeCall(fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for filesChildrenByCloudPool
     * @param cloudPoolId Numeric ID or name of cloud pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByCloudPoolCall(String cloudPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/cloud_pools/{cloud_pool_id}/files/{file_parent_id}/children"
            .replaceAll("\\{" + "cloud_pool_id" + "\\}", apiClient.escapeString(cloudPoolId.toString()))
            .replaceAll("\\{" + "file_parent_id" + "\\}", apiClient.escapeString(fileParentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (fileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("file_id", fileId));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (changeDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("change_date", changeDate));
        if (modificationDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modification_date", modificationDate));
        if (accessDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_date", accessDate));
        if (gid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("gid", gid));
        if (uid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("uid", uid));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call filesChildrenByCloudPoolValidateBeforeCall(String cloudPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudPoolId' is set
        if (cloudPoolId == null) {
            throw new ApiException("Missing the required parameter 'cloudPoolId' when calling filesChildrenByCloudPool(Async)");
        }
        
        // verify the required parameter 'fileParentId' is set
        if (fileParentId == null) {
            throw new ApiException("Missing the required parameter 'fileParentId' when calling filesChildrenByCloudPool(Async)");
        }
        

        com.squareup.okhttp.Call call = filesChildrenByCloudPoolCall(cloudPoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param cloudPoolId Numeric ID or name of cloud pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return NodeumFileCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeumFileCollection filesChildrenByCloudPool(String cloudPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        ApiResponse<NodeumFileCollection> resp = filesChildrenByCloudPoolWithHttpInfo(cloudPoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid);
        return resp.getData();
    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param cloudPoolId Numeric ID or name of cloud pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return ApiResponse&lt;NodeumFileCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeumFileCollection> filesChildrenByCloudPoolWithHttpInfo(String cloudPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        com.squareup.okhttp.Call call = filesChildrenByCloudPoolValidateBeforeCall(cloudPoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, null, null);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists files under a specific folder. (asynchronously)
     * **API Key Scope**: files / index
     * @param cloudPoolId Numeric ID or name of cloud pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByCloudPoolAsync(String cloudPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ApiCallback<NodeumFileCollection> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = filesChildrenByCloudPoolValidateBeforeCall(cloudPoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for filesChildrenByContainer
     * @param containerId Numeric ID or name of container. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByContainerCall(String containerId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/containers/{container_id}/files/{file_parent_id}/children"
            .replaceAll("\\{" + "container_id" + "\\}", apiClient.escapeString(containerId.toString()))
            .replaceAll("\\{" + "file_parent_id" + "\\}", apiClient.escapeString(fileParentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (fileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("file_id", fileId));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (changeDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("change_date", changeDate));
        if (modificationDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modification_date", modificationDate));
        if (accessDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_date", accessDate));
        if (gid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("gid", gid));
        if (uid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("uid", uid));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call filesChildrenByContainerValidateBeforeCall(String containerId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'containerId' is set
        if (containerId == null) {
            throw new ApiException("Missing the required parameter 'containerId' when calling filesChildrenByContainer(Async)");
        }
        
        // verify the required parameter 'fileParentId' is set
        if (fileParentId == null) {
            throw new ApiException("Missing the required parameter 'fileParentId' when calling filesChildrenByContainer(Async)");
        }
        

        com.squareup.okhttp.Call call = filesChildrenByContainerCall(containerId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param containerId Numeric ID or name of container. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return NodeumFileCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeumFileCollection filesChildrenByContainer(String containerId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        ApiResponse<NodeumFileCollection> resp = filesChildrenByContainerWithHttpInfo(containerId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid);
        return resp.getData();
    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param containerId Numeric ID or name of container. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return ApiResponse&lt;NodeumFileCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeumFileCollection> filesChildrenByContainerWithHttpInfo(String containerId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        com.squareup.okhttp.Call call = filesChildrenByContainerValidateBeforeCall(containerId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, null, null);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists files under a specific folder. (asynchronously)
     * **API Key Scope**: files / index
     * @param containerId Numeric ID or name of container. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByContainerAsync(String containerId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ApiCallback<NodeumFileCollection> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = filesChildrenByContainerValidateBeforeCall(containerId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for filesChildrenByNasPool
     * @param nasPoolId Numeric ID or name of NAS pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByNasPoolCall(String nasPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/nas_pools/{nas_pool_id}/files/{file_parent_id}/children"
            .replaceAll("\\{" + "nas_pool_id" + "\\}", apiClient.escapeString(nasPoolId.toString()))
            .replaceAll("\\{" + "file_parent_id" + "\\}", apiClient.escapeString(fileParentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (fileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("file_id", fileId));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (changeDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("change_date", changeDate));
        if (modificationDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modification_date", modificationDate));
        if (accessDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_date", accessDate));
        if (gid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("gid", gid));
        if (uid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("uid", uid));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call filesChildrenByNasPoolValidateBeforeCall(String nasPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nasPoolId' is set
        if (nasPoolId == null) {
            throw new ApiException("Missing the required parameter 'nasPoolId' when calling filesChildrenByNasPool(Async)");
        }
        
        // verify the required parameter 'fileParentId' is set
        if (fileParentId == null) {
            throw new ApiException("Missing the required parameter 'fileParentId' when calling filesChildrenByNasPool(Async)");
        }
        

        com.squareup.okhttp.Call call = filesChildrenByNasPoolCall(nasPoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param nasPoolId Numeric ID or name of NAS pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return NodeumFileCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeumFileCollection filesChildrenByNasPool(String nasPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        ApiResponse<NodeumFileCollection> resp = filesChildrenByNasPoolWithHttpInfo(nasPoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid);
        return resp.getData();
    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param nasPoolId Numeric ID or name of NAS pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return ApiResponse&lt;NodeumFileCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeumFileCollection> filesChildrenByNasPoolWithHttpInfo(String nasPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        com.squareup.okhttp.Call call = filesChildrenByNasPoolValidateBeforeCall(nasPoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, null, null);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists files under a specific folder. (asynchronously)
     * **API Key Scope**: files / index
     * @param nasPoolId Numeric ID or name of NAS pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByNasPoolAsync(String nasPoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ApiCallback<NodeumFileCollection> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = filesChildrenByNasPoolValidateBeforeCall(nasPoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for filesChildrenByTapePool
     * @param tapePoolId Numeric ID, or name of tape pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByTapePoolCall(String tapePoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tape_pools/{tape_pool_id}/files/{file_parent_id}/children"
            .replaceAll("\\{" + "tape_pool_id" + "\\}", apiClient.escapeString(tapePoolId.toString()))
            .replaceAll("\\{" + "file_parent_id" + "\\}", apiClient.escapeString(fileParentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (fileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("file_id", fileId));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (changeDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("change_date", changeDate));
        if (modificationDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modification_date", modificationDate));
        if (accessDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_date", accessDate));
        if (gid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("gid", gid));
        if (uid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("uid", uid));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call filesChildrenByTapePoolValidateBeforeCall(String tapePoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'tapePoolId' is set
        if (tapePoolId == null) {
            throw new ApiException("Missing the required parameter 'tapePoolId' when calling filesChildrenByTapePool(Async)");
        }
        
        // verify the required parameter 'fileParentId' is set
        if (fileParentId == null) {
            throw new ApiException("Missing the required parameter 'fileParentId' when calling filesChildrenByTapePool(Async)");
        }
        

        com.squareup.okhttp.Call call = filesChildrenByTapePoolCall(tapePoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param tapePoolId Numeric ID, or name of tape pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return NodeumFileCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeumFileCollection filesChildrenByTapePool(String tapePoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        ApiResponse<NodeumFileCollection> resp = filesChildrenByTapePoolWithHttpInfo(tapePoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid);
        return resp.getData();
    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param tapePoolId Numeric ID, or name of tape pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return ApiResponse&lt;NodeumFileCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeumFileCollection> filesChildrenByTapePoolWithHttpInfo(String tapePoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        com.squareup.okhttp.Call call = filesChildrenByTapePoolValidateBeforeCall(tapePoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, null, null);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists files under a specific folder. (asynchronously)
     * **API Key Scope**: files / index
     * @param tapePoolId Numeric ID, or name of tape pool. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByTapePoolAsync(String tapePoolId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ApiCallback<NodeumFileCollection> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = filesChildrenByTapePoolValidateBeforeCall(tapePoolId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for filesChildrenByTask
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByTaskCall(String taskId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/files/{file_parent_id}/children"
            .replaceAll("\\{" + "task_id" + "\\}", apiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "file_parent_id" + "\\}", apiClient.escapeString(fileParentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (fileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("file_id", fileId));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (changeDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("change_date", changeDate));
        if (modificationDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modification_date", modificationDate));
        if (accessDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_date", accessDate));
        if (gid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("gid", gid));
        if (uid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("uid", uid));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call filesChildrenByTaskValidateBeforeCall(String taskId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling filesChildrenByTask(Async)");
        }
        
        // verify the required parameter 'fileParentId' is set
        if (fileParentId == null) {
            throw new ApiException("Missing the required parameter 'fileParentId' when calling filesChildrenByTask(Async)");
        }
        

        com.squareup.okhttp.Call call = filesChildrenByTaskCall(taskId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return NodeumFileCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeumFileCollection filesChildrenByTask(String taskId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        ApiResponse<NodeumFileCollection> resp = filesChildrenByTaskWithHttpInfo(taskId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid);
        return resp.getData();
    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return ApiResponse&lt;NodeumFileCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeumFileCollection> filesChildrenByTaskWithHttpInfo(String taskId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        com.squareup.okhttp.Call call = filesChildrenByTaskValidateBeforeCall(taskId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, null, null);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists files under a specific folder. (asynchronously)
     * **API Key Scope**: files / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByTaskAsync(String taskId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ApiCallback<NodeumFileCollection> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = filesChildrenByTaskValidateBeforeCall(taskId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for filesChildrenByTaskExecution
     * @param taskExecutionId Numeric ID of task execution. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByTaskExecutionCall(Long taskExecutionId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/task_executions/{task_execution_id}/files/{file_parent_id}/children"
            .replaceAll("\\{" + "task_execution_id" + "\\}", apiClient.escapeString(taskExecutionId.toString()))
            .replaceAll("\\{" + "file_parent_id" + "\\}", apiClient.escapeString(fileParentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (fileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("file_id", fileId));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (changeDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("change_date", changeDate));
        if (modificationDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modification_date", modificationDate));
        if (accessDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_date", accessDate));
        if (gid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("gid", gid));
        if (uid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("uid", uid));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call filesChildrenByTaskExecutionValidateBeforeCall(Long taskExecutionId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'taskExecutionId' is set
        if (taskExecutionId == null) {
            throw new ApiException("Missing the required parameter 'taskExecutionId' when calling filesChildrenByTaskExecution(Async)");
        }
        
        // verify the required parameter 'fileParentId' is set
        if (fileParentId == null) {
            throw new ApiException("Missing the required parameter 'fileParentId' when calling filesChildrenByTaskExecution(Async)");
        }
        

        com.squareup.okhttp.Call call = filesChildrenByTaskExecutionCall(taskExecutionId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param taskExecutionId Numeric ID of task execution. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return NodeumFileCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeumFileCollection filesChildrenByTaskExecution(Long taskExecutionId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        ApiResponse<NodeumFileCollection> resp = filesChildrenByTaskExecutionWithHttpInfo(taskExecutionId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid);
        return resp.getData();
    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param taskExecutionId Numeric ID of task execution. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return ApiResponse&lt;NodeumFileCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeumFileCollection> filesChildrenByTaskExecutionWithHttpInfo(Long taskExecutionId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        com.squareup.okhttp.Call call = filesChildrenByTaskExecutionValidateBeforeCall(taskExecutionId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, null, null);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists files under a specific folder. (asynchronously)
     * **API Key Scope**: files / index
     * @param taskExecutionId Numeric ID of task execution. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByTaskExecutionAsync(Long taskExecutionId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ApiCallback<NodeumFileCollection> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = filesChildrenByTaskExecutionValidateBeforeCall(taskExecutionId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for filesChildrenByTaskExecutionByTask
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskExecutionId Numeric ID of task execution. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call filesChildrenByTaskExecutionByTaskCall(String taskId, Long taskExecutionId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_executions/{task_execution_id}/files/{file_parent_id}/children"
            .replaceAll("\\{" + "task_id" + "\\}", apiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_execution_id" + "\\}", apiClient.escapeString(taskExecutionId.toString()))
            .replaceAll("\\{" + "file_parent_id" + "\\}", apiClient.escapeString(fileParentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (fileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("file_id", fileId));
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("name", name));
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("permission", permission));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (changeDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("change_date", changeDate));
        if (modificationDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modification_date", modificationDate));
        if (accessDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("access_date", accessDate));
        if (gid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("gid", gid));
        if (uid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("uid", uid));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call filesChildrenByTaskExecutionByTaskValidateBeforeCall(String taskId, Long taskExecutionId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling filesChildrenByTaskExecutionByTask(Async)");
        }
        
        // verify the required parameter 'taskExecutionId' is set
        if (taskExecutionId == null) {
            throw new ApiException("Missing the required parameter 'taskExecutionId' when calling filesChildrenByTaskExecutionByTask(Async)");
        }
        
        // verify the required parameter 'fileParentId' is set
        if (fileParentId == null) {
            throw new ApiException("Missing the required parameter 'fileParentId' when calling filesChildrenByTaskExecutionByTask(Async)");
        }
        

        com.squareup.okhttp.Call call = filesChildrenByTaskExecutionByTaskCall(taskId, taskExecutionId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskExecutionId Numeric ID of task execution. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return NodeumFileCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NodeumFileCollection filesChildrenByTaskExecutionByTask(String taskId, Long taskExecutionId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        ApiResponse<NodeumFileCollection> resp = filesChildrenByTaskExecutionByTaskWithHttpInfo(taskId, taskExecutionId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid);
        return resp.getData();
    }

    /**
     * Lists files under a specific folder.
     * **API Key Scope**: files / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskExecutionId Numeric ID of task execution. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
     * @param changeDate Filter on change date (optional)
     * @param modificationDate Filter on modification date (optional)
     * @param accessDate Filter on access date (optional)
     * @param gid Filter on gid (optional)
     * @param uid Filter on uid (optional)
     * @return ApiResponse&lt;NodeumFileCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NodeumFileCollection> filesChildrenByTaskExecutionByTaskWithHttpInfo(String taskId, Long taskExecutionId, Integer fileParentId, Integer limit, Integer offset, String fileId, String name, String type, String permission, String size, String changeDate, String modificationDate, String accessDate, String gid, String uid) throws ApiException {
        com.squareup.okhttp.Call call = filesChildrenByTaskExecutionByTaskValidateBeforeCall(taskId, taskExecutionId, fileParentId, limit, offset, fileId, name, type, permission, size, changeDate, modificationDate, accessDate, gid, uid, null, null);
        Type localVarReturnType = new TypeToken<NodeumFileCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists files under a specific folder. (asynchronously)
     * **API Key Scope**: files / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskExecutionId Numeric ID of task execution. (required)
     * @param fileParentId Numeric ID of parent folder. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param fileId Filter on file id (optional)
     * @param name Filter on name (optional)
     * @param type Filter on type (optional)
     * @param permission Filter on permission (optional)
     * @param size Filter on size (optional)
[...]
