/*
 * Nodeum API
 * Nodeum API  # Filter parameters When browsing a list of items, multiple filter parameters may be applied. Some operators can be added to the value as a prefix:  - `=` value is equal. Default operator, may be omitted  - `!=` value is different  - `>` greater than  - `>=` greater than or equal  - `<` lower than  - `>=` lower than or equal  - `><` included in list, items should be separated by `|`  - `!><` not included in list, items should be separated by `|`  - `~` pattern matching, may include `%` (any characters) and `_` (one character)  - `!~` pattern not matching, may include `%` (any characters) and `_` (one character)  
 *
 * OpenAPI spec version: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Error;
import io.swagger.client.model.TaskSourceCollection;
import io.swagger.client.model.TaskSourceDown;
import io.swagger.client.model.TaskSourceUp;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TaskSourcesApi {
    private ApiClient apiClient;

    public TaskSourcesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TaskSourcesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createTaskSource
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceBody  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createTaskSourceCall(String taskId, TaskSourceUp taskSourceBody, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = taskSourceBody;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_sources"
            .replaceAll("\\{" + "task_id" + "\\}", apiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createTaskSourceValidateBeforeCall(String taskId, TaskSourceUp taskSourceBody, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling createTaskSource(Async)");
        }
        
        // verify the required parameter 'taskSourceBody' is set
        if (taskSourceBody == null) {
            throw new ApiException("Missing the required parameter 'taskSourceBody' when calling createTaskSource(Async)");
        }
        

        com.squareup.okhttp.Call call = createTaskSourceCall(taskId, taskSourceBody, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates a new task source.
     * **API Key Scope**: task_sources / create
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceBody  (required)
     * @return TaskSourceDown
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TaskSourceDown createTaskSource(String taskId, TaskSourceUp taskSourceBody) throws ApiException {
        ApiResponse<TaskSourceDown> resp = createTaskSourceWithHttpInfo(taskId, taskSourceBody);
        return resp.getData();
    }

    /**
     * Creates a new task source.
     * **API Key Scope**: task_sources / create
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceBody  (required)
     * @return ApiResponse&lt;TaskSourceDown&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TaskSourceDown> createTaskSourceWithHttpInfo(String taskId, TaskSourceUp taskSourceBody) throws ApiException {
        com.squareup.okhttp.Call call = createTaskSourceValidateBeforeCall(taskId, taskSourceBody, null, null);
        Type localVarReturnType = new TypeToken<TaskSourceDown>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates a new task source. (asynchronously)
     * **API Key Scope**: task_sources / create
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceBody  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createTaskSourceAsync(String taskId, TaskSourceUp taskSourceBody, final ApiCallback<TaskSourceDown> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createTaskSourceValidateBeforeCall(taskId, taskSourceBody, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TaskSourceDown>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for destroyTaskSource
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call destroyTaskSourceCall(String taskId, Integer taskSourceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_sources/{task_source_id}"
            .replaceAll("\\{" + "task_id" + "\\}", apiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_source_id" + "\\}", apiClient.escapeString(taskSourceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call destroyTaskSourceValidateBeforeCall(String taskId, Integer taskSourceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling destroyTaskSource(Async)");
        }
        
        // verify the required parameter 'taskSourceId' is set
        if (taskSourceId == null) {
            throw new ApiException("Missing the required parameter 'taskSourceId' when calling destroyTaskSource(Async)");
        }
        

        com.squareup.okhttp.Call call = destroyTaskSourceCall(taskId, taskSourceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Destroys a specific task source.
     * **API Key Scope**: task_sources / destroy
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void destroyTaskSource(String taskId, Integer taskSourceId) throws ApiException {
        destroyTaskSourceWithHttpInfo(taskId, taskSourceId);
    }

    /**
     * Destroys a specific task source.
     * **API Key Scope**: task_sources / destroy
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> destroyTaskSourceWithHttpInfo(String taskId, Integer taskSourceId) throws ApiException {
        com.squareup.okhttp.Call call = destroyTaskSourceValidateBeforeCall(taskId, taskSourceId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Destroys a specific task source. (asynchronously)
     * **API Key Scope**: task_sources / destroy
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call destroyTaskSourceAsync(String taskId, Integer taskSourceId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = destroyTaskSourceValidateBeforeCall(taskId, taskSourceId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for indexTaskSources
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param fileId Filter on file id (optional)
     * @param importFileId Filter on import file id (optional)
     * @param tapeId Filter on tape id (optional)
     * @param tapePoolId Filter on tape pool id (optional)
     * @param cloudPoolId Filter on cloud pool id (optional)
     * @param nasPoolId Filter on NAS pool id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call indexTaskSourcesCall(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String fileId, String importFileId, String tapeId, String tapePoolId, String cloudPoolId, String nasPoolId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_sources"
            .replaceAll("\\{" + "task_id" + "\\}", apiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (sortBy != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("pipes", "sort_by", sortBy));
        if (id != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("id", id));
        if (fileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("file_id", fileId));
        if (importFileId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("import_file_id", importFileId));
        if (tapeId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("tape_id", tapeId));
        if (tapePoolId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("tape_pool_id", tapePoolId));
        if (cloudPoolId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cloud_pool_id", cloudPoolId));
        if (nasPoolId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nas_pool_id", nasPoolId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call indexTaskSourcesValidateBeforeCall(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String fileId, String importFileId, String tapeId, String tapePoolId, String cloudPoolId, String nasPoolId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling indexTaskSources(Async)");
        }
        

        com.squareup.okhttp.Call call = indexTaskSourcesCall(taskId, limit, offset, sortBy, id, fileId, importFileId, tapeId, tapePoolId, cloudPoolId, nasPoolId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Lists all task sources.
     * **API Key Scope**: task_sources / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param fileId Filter on file id (optional)
     * @param importFileId Filter on import file id (optional)
     * @param tapeId Filter on tape id (optional)
     * @param tapePoolId Filter on tape pool id (optional)
     * @param cloudPoolId Filter on cloud pool id (optional)
     * @param nasPoolId Filter on NAS pool id (optional)
     * @return TaskSourceCollection
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TaskSourceCollection indexTaskSources(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String fileId, String importFileId, String tapeId, String tapePoolId, String cloudPoolId, String nasPoolId) throws ApiException {
        ApiResponse<TaskSourceCollection> resp = indexTaskSourcesWithHttpInfo(taskId, limit, offset, sortBy, id, fileId, importFileId, tapeId, tapePoolId, cloudPoolId, nasPoolId);
        return resp.getData();
    }

    /**
     * Lists all task sources.
     * **API Key Scope**: task_sources / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param fileId Filter on file id (optional)
     * @param importFileId Filter on import file id (optional)
     * @param tapeId Filter on tape id (optional)
     * @param tapePoolId Filter on tape pool id (optional)
     * @param cloudPoolId Filter on cloud pool id (optional)
     * @param nasPoolId Filter on NAS pool id (optional)
     * @return ApiResponse&lt;TaskSourceCollection&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TaskSourceCollection> indexTaskSourcesWithHttpInfo(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String fileId, String importFileId, String tapeId, String tapePoolId, String cloudPoolId, String nasPoolId) throws ApiException {
        com.squareup.okhttp.Call call = indexTaskSourcesValidateBeforeCall(taskId, limit, offset, sortBy, id, fileId, importFileId, tapeId, tapePoolId, cloudPoolId, nasPoolId, null, null);
        Type localVarReturnType = new TypeToken<TaskSourceCollection>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists all task sources. (asynchronously)
     * **API Key Scope**: task_sources / index
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param limit The number of items to display for pagination. (optional)
     * @param offset The number of items to skip for pagination. (optional)
     * @param sortBy Sort results by attribute.  Can sort on multiple attributes, separated by &#x60;|&#x60;. Order direction can be suffixing the attribute by either &#x60;:asc&#x60; (default) or &#x60;:desc&#x60;. (optional)
     * @param id Filter on id (optional)
     * @param fileId Filter on file id (optional)
     * @param importFileId Filter on import file id (optional)
     * @param tapeId Filter on tape id (optional)
     * @param tapePoolId Filter on tape pool id (optional)
     * @param cloudPoolId Filter on cloud pool id (optional)
     * @param nasPoolId Filter on NAS pool id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call indexTaskSourcesAsync(String taskId, Integer limit, Integer offset, List<String> sortBy, String id, String fileId, String importFileId, String tapeId, String tapePoolId, String cloudPoolId, String nasPoolId, final ApiCallback<TaskSourceCollection> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = indexTaskSourcesValidateBeforeCall(taskId, limit, offset, sortBy, id, fileId, importFileId, tapeId, tapePoolId, cloudPoolId, nasPoolId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TaskSourceCollection>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for showTaskSource
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call showTaskSourceCall(String taskId, Integer taskSourceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_sources/{task_source_id}"
            .replaceAll("\\{" + "task_id" + "\\}", apiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_source_id" + "\\}", apiClient.escapeString(taskSourceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call showTaskSourceValidateBeforeCall(String taskId, Integer taskSourceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling showTaskSource(Async)");
        }
        
        // verify the required parameter 'taskSourceId' is set
        if (taskSourceId == null) {
            throw new ApiException("Missing the required parameter 'taskSourceId' when calling showTaskSource(Async)");
        }
        

        com.squareup.okhttp.Call call = showTaskSourceCall(taskId, taskSourceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Displays a specific task source.
     * **API Key Scope**: task_sources / show
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @return TaskSourceDown
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TaskSourceDown showTaskSource(String taskId, Integer taskSourceId) throws ApiException {
        ApiResponse<TaskSourceDown> resp = showTaskSourceWithHttpInfo(taskId, taskSourceId);
        return resp.getData();
    }

    /**
     * Displays a specific task source.
     * **API Key Scope**: task_sources / show
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @return ApiResponse&lt;TaskSourceDown&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TaskSourceDown> showTaskSourceWithHttpInfo(String taskId, Integer taskSourceId) throws ApiException {
        com.squareup.okhttp.Call call = showTaskSourceValidateBeforeCall(taskId, taskSourceId, null, null);
        Type localVarReturnType = new TypeToken<TaskSourceDown>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Displays a specific task source. (asynchronously)
     * **API Key Scope**: task_sources / show
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call showTaskSourceAsync(String taskId, Integer taskSourceId, final ApiCallback<TaskSourceDown> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = showTaskSourceValidateBeforeCall(taskId, taskSourceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TaskSourceDown>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateTaskSource
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @param taskSourceBody  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateTaskSourceCall(String taskId, Integer taskSourceId, TaskSourceUp taskSourceBody, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = taskSourceBody;

        // create path and map variables
        String localVarPath = "/tasks/{task_id}/task_sources/{task_source_id}"
            .replaceAll("\\{" + "task_id" + "\\}", apiClient.escapeString(taskId.toString()))
            .replaceAll("\\{" + "task_source_id" + "\\}", apiClient.escapeString(taskSourceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "BasicAuth", "BearerAuth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateTaskSourceValidateBeforeCall(String taskId, Integer taskSourceId, TaskSourceUp taskSourceBody, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling updateTaskSource(Async)");
        }
        
        // verify the required parameter 'taskSourceId' is set
        if (taskSourceId == null) {
            throw new ApiException("Missing the required parameter 'taskSourceId' when calling updateTaskSource(Async)");
        }
        
        // verify the required parameter 'taskSourceBody' is set
        if (taskSourceBody == null) {
            throw new ApiException("Missing the required parameter 'taskSourceBody' when calling updateTaskSource(Async)");
        }
        

        com.squareup.okhttp.Call call = updateTaskSourceCall(taskId, taskSourceId, taskSourceBody, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Updates a specific task source.
     * **API Key Scope**: task_sources / update
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @param taskSourceBody  (required)
     * @return TaskSourceDown
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TaskSourceDown updateTaskSource(String taskId, Integer taskSourceId, TaskSourceUp taskSourceBody) throws ApiException {
        ApiResponse<TaskSourceDown> resp = updateTaskSourceWithHttpInfo(taskId, taskSourceId, taskSourceBody);
        return resp.getData();
    }

    /**
     * Updates a specific task source.
     * **API Key Scope**: task_sources / update
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @param taskSourceBody  (required)
     * @return ApiResponse&lt;TaskSourceDown&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TaskSourceDown> updateTaskSourceWithHttpInfo(String taskId, Integer taskSourceId, TaskSourceUp taskSourceBody) throws ApiException {
        com.squareup.okhttp.Call call = updateTaskSourceValidateBeforeCall(taskId, taskSourceId, taskSourceBody, null, null);
        Type localVarReturnType = new TypeToken<TaskSourceDown>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Updates a specific task source. (asynchronously)
     * **API Key Scope**: task_sources / update
     * @param taskId Numeric ID or name of task. Task names are not unique, it&#39;s recommanded to use numeric ID. (required)
     * @param taskSourceId Numeric ID of task source. (required)
     * @param taskSourceBody  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateTaskSourceAsync(String taskId, Integer taskSourceId, TaskSourceUp taskSourceBody, final ApiCallback<TaskSourceDown> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateTaskSourceValidateBeforeCall(taskId, taskSourceId, taskSourceBody, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TaskSourceDown>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
